<div class="col-md-12 title">{{Name}}</div>

<div class="col-md-12 process">{{Process}}</div>

<div class="col-md-12 function">{{Function}}</div>

<div class="col-md-6 miniTitle">
    Pvalue
</div>
                
<div class="col-md-6">{{p-value}}</div>

<div class="col-md-6 miniTitle">
    Log2 fold change
</div>
                
<div class="col-md-6">{{Log2FoldChange}}</div>